*{
    margin: 0px;
}
.top-box{
    height: 50px;
    background-color: #606C5D;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Satisfy', cursive;
}

.top-box h1{
    font-size: 55px;
}
.navigation-box{
    width: 400px;
    height: 50px;
}

.navigation-box ul{
    display: flex;
    justify-content: space-between;
}

.navigation-box ul li{
    list-style: none;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.about-box{
    height: 700px;
    background-color: #FFF4F4;
    font-family: 'Satisfy', cursive;
}

.about-box h1{
    text-align: center;
    font-size: 50px;
    padding: 30px;
    text-decoration: underline;
}
.about-box h3{
    font-size: 25px;
}
.about-row{
    height: 450px;
    width: 1100px;
    margin: auto;
    display: flex;
}

.about-col{
    width: 45%;
    height: 100%;
    font-size: 18px;
}

.about-col img{
    height: 100%;
    margin-left: 80px;

}

.projects{
    height: 950px;
    background-color: #F7E6C4;
    font-family: 'Satisfy', cursive;
}
.projects h1{
    text-align: center;
    font-size: 50px;
    padding: 30px;
    text-decoration: underline;
}
.projects h3{
    font-size: 30px;
}
.projects ul{
    margin-left: 50px;  
    margin-right: 40px;
    font-size: 18px;
}

.projects li{
    margin-top: 20px;
}

.achievements{
    height: 300px;
    background-color: #FFF4F4;
    font-family: 'Satisfy', cursive;
}
.achievements h1{
    text-align: center;
    font-size: 50px;
    padding: 30px;
    text-decoration: underline;
}
.achievements ul{
    margin-left: 50px;

}
.contacts{
    background-color: #F1C376;
    height: 80px;
    padding: 10px;
    font-family: 'Satisfy', cursive;

}
.contacts h1{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}
.contacts table{
    margin: 0px;
    padding: 0px;
    height: 30px;
    font-size: 20px;
}
.contacts td{
    border-right: 1px solid white;
    padding: 0px 90px;
}

.contacts table td:last-child{
    border-right: none;
}